@use "../../styles/partials/typography";

.single-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  &__wrap {
    height: 100vh;
  }

  &__image {
    height: 50vh;
    width: 60vw;
  }

  &__name {
    font-family: Plex-Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-top: 2rem;
  }

  &__price {
    font-family: Plex-Sans;
    font-style: normal;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &__description {
    font-family: Plex-Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__store-contact {
    border-top: 1px solid #eaeaec;
    border-bottom: 1px solid #eaeaec;
    font-family: Plex-Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 2rem;
  }

  &__qty {
    font-family: Plex-Sans;
    font-style: normal;
    font-weight: 400;
  }

  &__qty-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__button {
    width: 80vw;
    height: 3.2rem;
    border-radius: 5px;
    background-color: #00ccbc;
    font-family: Plex-Sans;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.25rem;
    color: #ffffff;
    border: none;
  }

  &__button-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}

.modal {
  bottom: 50%;
  display: flex;
  max-height: 90vh;
  max-width: 80vw;
  margin: auto;
  background-color: white;

  &__logo {
    width: 4rem;
    height: 4rem;
    margin: auto;
  }
}
