.wishlist-title {
  padding: 0.5rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon {
  padding-top: 0.3rem;
}
.gift-cards {
  padding: 3rem;
}

.gift-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
