.header {
  display: flex;
  justify-content: space-between;
  background-color: #00ccbc;
  width: 100vw;

  &__corner {
    width: 20vw;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.2rem;
  }

  &__icons {
    width: 1rem;
  }
}
